[submodule "addons/git-open"]
	path = addons/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "addons/enhancd"]
	path = addons/enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule "addons/autojump"]
	path = addons/autojump
	url = https://github.com/wting/autojump.git
[submodule "addons/fast-export"]
	path = addons/fast-export
	url = https://github.com/frej/fast-export.git
[submodule "addons/complete-alias"]
	path = addons/complete-alias
	url = https://github.com/cykerway/complete-alias.git
